<html>
    <head>
        <title>Chatroom</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/socket.io/socket.io.js"></script> 
       

    </head>
    <body>
        <h2>Welcome to chatroom</h2>

        <a href="/logout">Logout</a>
        </br></br>
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="user-details">
                    <h3>Users</h3>
                    <ul id="user-list"></ul>
                </div>
                <div class="col-md-9">
                    <div class="row" id="msg-box"></div>
                    <div class="row">
                        <div id="input-box">
                            <input type="text" name="msg" id="msg">
                            <input type="submit" name="submit" value="Send" id="send-msg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
         <script src="/javascripts/chatclient.js"></script>
    </body>
</html>
