<html>
    <head>
        <title>Test Application</title>
    </head>
    <body>
        <h1>Welcome to registration page</h1>
        
        <div id="register-form">
            <label for="">Username: </label><input type="text" name="username" id="username"></br>
            <label for="">Password: </label><input type="password" name="password" id="password"></br>
            <input type="submit" value="Register" id="sub-reg">
        </div>
        
        </br></br> 
        <div id="error-msg"></div>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src= "/javascripts/register.js"></script>
    </body>
</html>